<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 찾기</title>
    <link rel="stylesheet" href="/css/findPassword.css">
</head>
<body>
    <!-- 비밀번호 찾기 폼 -->
    <div class="container">
        <header>
            <h1>ShopNova</h1>
        </header>

        <form action="/users/findPassword" method="post">
            <div>
                <input type="text" name="email" placeholder="비밀번호를 찾을 이메일을 입력하세요" required>
            </div>
            <button type="submit">비밀번호 찾기</button>
        </form>

        <!-- 오류 메시지 또는 비밀번호 표시 -->
        <div class="error-message">
            <p th:text="${message}"></p>
        </div>

        <!-- 아이디 찾기 페이지로 이동하는 링크 -->
        <div class="find-credentials">
            <a href="/users/findUserId">아이디 찾기</a>
        </div>
        
        <!-- 로그인 페이지로 돌아가기 링크 -->
        <div class="find-credentials">
            <a href="/users/login">로그인 페이지로 돌아가기</a>
        </div>
    </div>
</body>
</html>
