<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>주문 완료</title>
<link rel="stylesheet" href="/css/orderCompleted.css">
</head>
<body>
	<div class="container">
        <div class="header">
            <h1>주문이 완료되었습니다!</h1>
            <i class="fas fa-check-circle fa-3x icon"></i>
        </div>
        
       	<!-- 돌아가기 버튼 -->
		<div class="back-btn">
		    <a href="/users/orderList" title="주문 목록으로 돌아가기">주문 목록으로 돌아가기</a>
		</div>
    </div>
</body>
</html>